.img-cart{
    width: 120px;
}

.precio-style-card{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.style-detalle-card{
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
}



.style-nombre-card{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.button-2{
    padding: 10px;
    background-color: transparent;
    border-radius: 15px;
    font-family: "Exo 2", sans-serif;
    font-size: 17px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
}